/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Navegación */
nav {
    background: #444;
    padding: 10px;
    text-align: center;
}



/* Contenedores */
.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Botón */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #555;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background: #444;
    color: white;
}

/* Pie de página */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
/* Contenedor para centrar la imagen */
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
/* Estilo para centrar el título */
.title {
    text-align: center;
}
nav a {
    color: rgb(0, 255, 60);
    text-decoration: none;
}

nav a:hover {
    color: red;
}